body{
margin:0;
font-family:Arial;
background:#f5f5f5;
}

.topbar{
background:#009933;
color:white;
padding:15px;
text-align:center;
}

.searchbox{
padding:15px;
}

.searchbox input{
width:100%;
padding:10px;
margin-bottom:10px;
border-radius:8px;
border:1px solid #ccc;
}

.services{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
padding:15px;
}

.service{
background:white;
padding:15px;
text-align:center;
border-radius:10px;
text-decoration:none;
color:black;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.service img{
width:60px;
}

.book{
padding:20px;
text-align:center;
}

button{
background:#009933;
color:white;
border:none;
padding:15px;
width:100%;
font-size:18px;
border-radius:10px;
}
